* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100vh;
}
body,
.header {
  background: url("images/coins-main-bg.jpg") no-repeat;
  background-size: 2700px;
  background-position-x: -845px;
  background-position-y: 30px;
}

.header {
  background-color: #f3f5ea;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 100;
}
.logo {
  color: black;
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
}
.navbar a {
  position: relative;
  color: black;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  padding: 6px;
  margin-left: 40px;
}
.navbar a:hover {
  transition: 0.5s ease;
}
.navbar a::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background: black;
  transition: 0.5s ease;
}
.navbar a:hover::before {
  width: 100%;
}
.navbar .girisyap {
  border: 1px solid rgba(0, 0, 0, 0.663);
  border-radius: 5px;
}
.navbar .girisyap:hover {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  box-shadow: inset 5px 0px 20px rgba(0, 0, 0, 0.116);
  transition: 0.5s ease;
}
.navbar .girisyap:hover::before {
  width: 0%;
}
.navbar .active {
  color: #9c7d3a;
}
.navbar .active:before {
  background: #9c7d3a;
}

.caption {
  width: 100%;
  height: 293px;
  display: flex;
  justify-content: center;
}
.caption h1 {
  font-size: 45px;
  font-weight: 400;
  margin-top: 40px;
}
#anasayfa-caption {
  box-shadow: 5px 0px 20px rgba(0, 0, 0, 0.5);
}

#cards {
  display: flex;
  justify-content: space-evenly;
  margin-top: -120px;
  opacity: 90%;
}
.card {
  background-color: #fff;
  width: 300px;
  height: 250px;
  box-shadow: 5px 0px 20px #8f7e3c88;
  border-radius: 15px;
  width: 300px;
  padding: 20px;
  text-align: center;
}
.card h2 {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
}
.card p {
  font-size: 17px;
  line-height: 1.5;
}
#card1 {
  margin-left: 100px;
}
#card3 {
  margin-right: 100px;
}

.hesap-olustur {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hesap-olustur button {
  background-color: #ffffff;
  margin-top: 40px;
  padding: 15px 20px;
  border: 1px solid rgba(0, 0, 0, 0.585);
  cursor: pointer;
  border-radius: 5px;
  font-size: 22px;
  font-weight: 500;
  box-shadow: 5px 0px 20px #0000002f;
}
.hesap-olustur button:hover {
  background-color: #f3f5ea7d;
  box-shadow: 0px 0px 0px #0000002f;
  transition: 0.5s ease;
}

.footer {
  position: sticky;
  top: 100%;
  display: flex;
  width: 100%;
  height: 60px;
  background: #f3f5ea;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 0px 20px rgba(0, 0, 0, 0.5);
}
.footer .footer-content {
  font-size: 15px;
  font-weight: 400;
  opacity: 65%;
}

#piyasalar {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding-top: 50px;
}

#piyasalar div {
  width: 70%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.334);
}
#piyasalar div h3 a {
  color: black;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
}
#piyasalar-all {
  opacity: 55%;
}
#piyasalar-favorites:hover {
  opacity: 55%;
  transition: 0.1s ease;
}

#piyasalar-tablo {
  background-color: #f3f5eae5;
  border-collapse: collapse;
  border: 1px solid #ddd;
  width: 70%;
}
#piyasalar-tablo tr:nth-child(even) {
  background-color: #0000001d;
}
#piyasalar-tablo th,
#piyasalar-tablo td {
  position: relative;
  top: -1px;
  padding: 5px;
}
#piyasalar-tablo th {
  font-size: 18px;
  font-weight: 500;
  opacity: 65%;
}
#piyasalar-tablo td {
  font-size: 18px;
  font-weight: 400;
}
#piyasalar-tablo td:nth-child(3),
#piyasalar-tablo td:nth-child(4) {
  padding-left: 50px;
}

.favorite-star {
  position: relative;
  left: 34px;
  top: 3px;
  width: 25px;
  height: 25px;
  opacity: 60%;
}
.favorite-star:hover {
  opacity: 100%;
  transition: 0.1s ease;
}

.piyasalar-textbox {
  margin-left: 100px;
  margin-right: 40px;
}
