* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100vh;
}
body,
.header {
  background: url("images/coins-main-bg.jpg") no-repeat;
  background-size: 2700px;
  background-position-x: -845px;
  background-position-y: 30px;
}

.header {
  background-color: #f3f5ea;
  position: sticky;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 10px 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 100;
}
.logo {
  color: black;
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
}
.navbar a {
  position: relative;
  color: black;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  padding: 6px;
  margin-left: 40px;
}
.navbar a:hover {
  transition: 0.5s ease;
}
.navbar a::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background: black;
  transition: 0.5s ease;
}
.navbar a:hover::before {
  width: 100%;
}
.navbar .girisyap {
  border: 1px solid rgba(0, 0, 0, 0.663);
  border-radius: 5px;
}
.navbar .girisyap:hover {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  box-shadow: inset 5px 0px 20px rgba(0, 0, 0, 0.116);
  transition: 0.5s ease;
}
.navbar .girisyap:hover::before {
  width: 0%;
}
.navbar .active {
  color: #9c7d3a;
}
.navbar .active:before {
  background: #9c7d3a;
}

.caption {
  width: 100%;
  height: 293px;
  display: flex;
  justify-content: center;
}
.caption h1 {
  font-size: 45px;
  font-weight: 400;
  margin-top: 40px;
}
#anasayfa-caption {
  box-shadow: 5px 0px 20px rgba(0, 0, 0, 0.5);
}

#cards {
  display: flex;
  justify-content: space-evenly;
  margin-top: -120px;
  opacity: 90%;
}
.card {
  background-color: #fff;
  width: 300px;
  height: 250px;
  box-shadow: 5px 0px 20px #8f7e3c88;
  border-radius: 15px;
  width: 300px;
  padding: 20px;
  text-align: center;
}
.card h2 {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
}
.card p {
  font-size: 17px;
  line-height: 1.5;
}
#card1 {
  margin-left: 100px;
}
#card3 {
  margin-right: 100px;
}

.footer {
  position: sticky;
  top: 100%;
  display: flex;
  width: 100%;
  height: 60px;
  background: #f3f5ea;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 0px 20px rgba(0, 0, 0, 0.5);
}
.footer .footer-content {
  font-size: 15px;
  font-weight: 400;
  opacity: 65%;
}

#piyasalar {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding-top: 50px;
}

#piyasalar div {
  width: 70%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.334);
}
#piyasalar div h3 a {
  color: black;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
}
#piyasalar-all {
  opacity: 55%;
}
#piyasalar-favorites:hover {
  opacity: 55%;
  transition: 0.1s ease;
}

#piyasalar-tablo {
  background-color: #f3f5eae5;
  border-collapse: collapse;
  border: 1px solid #ddd;
  width: 70%;
}
#piyasalar-tablo tr:nth-child(even) {
  background-color: #0000001d;
}
#piyasalar-tablo th,
#piyasalar-tablo td {
  position: relative;
  top: -1px;
  padding: 5px;
}
#piyasalar-tablo th {
  font-size: 18px;
  font-weight: 500;
  opacity: 65%;
}
#piyasalar-tablo td {
  font-size: 18px;
  font-weight: 400;
}
#piyasalar-tablo td:nth-child(3),
#piyasalar-tablo td:nth-child(4) {
  padding-left: 50px;
}

.favorite-star {
  position: relative;
  left: 34px;
  top: 3px;
  width: 25px;
  height: 25px;
  opacity: 60%;
}
.favorite-star:hover {
  opacity: 100%;
  transition: 0.1s ease;
}

.piyasalar-textbox {
  margin-left: 100px;
  margin-right: 40px;
}

/* Sign Up adapted from Magda Pimentel (https://codepen.io/magdaspimentel/pen/QvxwpZ) */
.signup-form {
  background-color: #f3f5eac9;
  width: 400px;
  height: auto;
  margin: 80px auto;
  border-radius: 10px;

  padding-top: 10px;
  padding-bottom: 20px;
  box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: space-evenly;
}
.signup-form input {
  background-color: #fbfbfb;
  width: 350px;
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #0000007b;
  margin-top: 10px;
  padding-left: 10px;
}
::-webkit-input-placeholder {
  color: #a8a8a8;
  font-size: 15px;
}
.signup-form input:focus {
  outline: 0;
  border: 1px solid #b99f42;
}
.signup-form button {
  width: 360px;
  height: 43px;
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  border-color: #00000043;
  text-transform: uppercase;
  background-color: #d8cc48;
  color: white;
  margin-top: 10px;
  cursor: pointer;
  font-weight: bold;
}
.signup-form button:hover {
  background-color: #ffdb5c;
  border-color: #ffffff64;
}
.signup-form span p {
  font-size: 13px;
  text-align: center;
  color: #0e0e0e;
}
.signup-form a {
  color: #8a822f;
  text-decoration: none;
}
.signup-form a:visited {
  text-decoration: none;
}
.signup-form a:hover {
  text-decoration: underline;
}
.signup-form h1 {
  font-size: 34px;
  font-weight: 600;
  color: #000000cf;
}

::selection {
  color: #fff;
  background: #675afe;
}
.wrapper {
  width: 370px;
  padding: 30px;
  border-radius: 7px;
  background: #ffffff6f;
  box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.05);
  margin: auto;
}
.wrapper header {
  font-size: 24px;
  font-weight: 500;
  text-align: center;
}
.wrapper form {
  margin: 40px 0 20px 0;
}
form :where(input, select, button) {
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: none;
}
.wrapper form p {
  font-size: 18px;
  margin-bottom: 5px;
}
.wrapper form input {
  height: 50px;
  font-size: 17px;
  padding: 0 15px;
  border: 1px solid #999;
}
.wrapper form input:focus {
  padding: 0 14px;
  border: 2px solid #675afe;
}
form .drop-list {
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
}
.drop-list .select-box {
  display: flex;
  width: 115px;
  height: 45px;
  align-items: center;
  border-radius: 5px;
  justify-content: center;
  border: 1px solid #999;
}
.select-box img {
  max-width: 21px;
}
.select-box select {
  width: auto;
  font-size: 16px;
  background: none;
  margin: 0 -5px 0 5px;
}
.select-box select::-webkit-scrollbar {
  width: 8px;
}
.select-box select::-webkit-scrollbar-track {
  background: #fff;
}
.select-box select::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 8px;
  border-right: 2px solid #ffffff;
}
.drop-list .icon {
  cursor: pointer;
  margin-top: 30px;
  font-size: 22px;
}
.wrapper form .exchange-rate {
  font-size: 17px;
  margin: 20px 0 30px;
}
.wrapper form button {
  height: 52px;
  color: #fff;
  font-size: 17px;
  cursor: pointer;
  background: #675afe;
  transition: 0.3s ease;
}
.wrapper form button:hover {
  background: #4534fe;
}

#account-info {
  display: flex;
}

.form-error {
  color: red !important;
}
